# Copyright 2026 Enactic, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

POSTGRES_SERVER=db
POSTGRES_DB=openarm_online
POSTGRES_USER=openarm_online
POSTGRES_PASSWORD=openarm-online

# Please adjust the settings to your environment.
S3_ENDPOINT_URL=http://s3:9000
S3_ACCESS_KEY_ID=openarm-online-access
S3_SECRET_ACCESS_KEY=openarm-online-secret

# SECRET_KEY is used to prevent tampering with access tokens for user authentication.
# For security reasons, please configure this individually.
# A long random string of 32 characters or more is recommended.
SECRET_KEY=please_configure

# This is the HMAC key used for hashing API keys.
# For security reasons, please configure this individually.
# A long random string of 32 characters or more is recommended.
HMAC_KEY=please_configure

# Cloudflare Realtime TURN key, for teleoperation between peers that
# can't connect directly. Create a TURN key on the Cloudflare dashboard
# (Realtime) and set both values; "disabled" (or unset) means STUN only.
# https://developers.cloudflare.com/realtime/turn/
CLOUDFLARE_TURN_KEY_ID=disabled
CLOUDFLARE_TURN_API_TOKEN=disabled
